{
  "log": {
    "_recordingName": "teams-2",
    "creator": {
      "comment": "persister:HerokuFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "f6b7bd8bce2c1cc4d033666e72b0553f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 328,
            "text": "[{\"id\":\"1e2fd576-c276-483d-8440-3c956e0fe015\",\"created_at\":\"2020-04-15T23:14:12Z\",\"updated_at\":\"2020-04-15T23:14:12Z\",\"credit_card_collections\":true,\"default\":false,\"enterprise_account\":null,\"identity_provider\":null,\"membership_limit\":25,\"name\":\"ndowmon-lifeomic-test\",\"provisioned_licenses\":false,\"role\":\"admin\",\"type\":\"team\"}]"
          },
          "headers": [
            {
              "name": "content-range",
              "value": "id 1e2fd576-c276-483d-8440-3c956e0fe015..1e2fd576-c276-483d-8440-3c956e0fe015"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"da021e5715e537c5337bdca8d5a2467f\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 15 Apr 2020 23:14:12 GMT"
            },
            {
              "name": "oauth-scope",
              "value": "global"
            },
            {
              "name": "oauth-scope-accepted",
              "value": "global read read-protected write write-protected"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4498"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 139,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
