{
  "log": {
    "_recordingName": "teams-with-enterpriseAccount",
    "creator": {
      "comment": "persister:HerokuFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "f6b7bd8bce2c1cc4d033666e72b0553f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 328,
            "text": "[\r\n{\r\n\"id\":\"1e2fd576-c276-483d-8440-3c956e0fe015\",\r\n\"created_at\":\"2020-04-15T23:14:12Z\",\r\n\"updated_at\":\"2020-04-15T23:14:12Z\",\r\n\"credit_card_collections\":true,\r\n\"default\":false,\r\n\"enterprise_account\":{\r\n\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\r\n\"name\":\"example\"\r\n},\r\n\"identity_provider\":null,\r\n\"membership_limit\":25,\r\n\"name\":\"ndowmon-lifeomic-test\",\r\n\"provisioned_licenses\":false,\r\n\"role\":\"admin\",\r\n\"type\":\"team\"\r\n}\r\n]"
          },
          "headers": [
            {
              "name": "content-range",
              "value": "id 1e2fd576-c276-483d-8440-3c956e0fe015..1e2fd576-c276-483d-8440-3c956e0fe015"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"da021e5715e537c5337bdca8d5a2467f\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 15 Apr 2020 23:14:12 GMT"
            },
            {
              "name": "oauth-scope",
              "value": "global"
            },
            {
              "name": "oauth-scope-accepted",
              "value": "global read read-protected write write-protected"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 262,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
