{
  "log": {
    "_recordingName": "fetch-team-apps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "75cad5d61baf79ef5638739e8f7364de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/teams/1e2fd576-c276-483d-8440-3c956e0fe015/apps"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2060,
            "text": "[{\"acm\":true,\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"69bee368-352b-4bd0-9b7c-819d860a2588\",\"name\":\"heroku-18\"},\"created_at\":\"2020-04-24T17:53:13Z\",\"id\":\"2a089907-da73-49d6-b569-5f4a89c65ba9\",\"git_url\":\"https://git.heroku.com/ndowmon-gmail-test-app.git\",\"maintenance\":false,\"name\":\"ndowmon-gmail-test-app\",\"owner\":{\"email\":\"ndowmon-lifeomic-test@herokumanager.com\",\"id\":\"1e2fd576-c276-483d-8440-3c956e0fe015\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"organization\":{\"id\":\"1e2fd576-c276-483d-8440-3c956e0fe015\",\"name\":\"ndowmon-lifeomic-test\"},\"team\":{\"id\":\"1e2fd576-c276-483d-8440-3c956e0fe015\",\"name\":\"ndowmon-lifeomic-test\"},\"space\":null,\"internal_routing\":null,\"released_at\":\"2020-04-24T17:53:13Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"69bee368-352b-4bd0-9b7c-819d860a2588\",\"name\":\"heroku-18\"},\"updated_at\":\"2020-04-24T18:18:26Z\",\"web_url\":\"https://ndowmon-gmail-test-app.herokuapp.com/\",\"joined\":false,\"legacy_id\":\"app169076948@heroku.com\",\"locked\":false},{\"acm\":true,\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"69bee368-352b-4bd0-9b7c-819d860a2588\",\"name\":\"heroku-18\"},\"created_at\":\"2020-04-14T13:23:01Z\",\"id\":\"e3af0e11-ea32-475e-a36f-e20f48e83136\",\"git_url\":\"https://git.heroku.com/damp-falls-40058.git\",\"maintenance\":false,\"name\":\"damp-falls-40058\",\"owner\":{\"email\":\"ndowmon-lifeomic-test@herokumanager.com\",\"id\":\"1e2fd576-c276-483d-8440-3c956e0fe015\"},\"region[...]
