{
  "log": {
    "_recordingName": "add-accounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "8bf20e5c7174d25c398596327eb99ef3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/enterprise-accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"created_at\":\"2012-01-01T12:00:00Z\",\"name\":\"example\",\"updated_at\":\"2012-01-01T12:00:00Z\",\"permissions\":[\"view\"],\"trial\":false,\"identity_provider\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"acme-sso\",\"owner\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"acme\",\"type\":\"team\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "oauth-scope",
              "value": "global"
            },
            {
              "name": "oauth-scope-accepted",
              "value": "global read read-protected write write-protected"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 191,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
