{
  "log": {
    "_recordingName": "heroku-get-return",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "517e539e78ab8fa4ac6f950177a63c3c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 444,
            "text": "{\"allow_tracking\":true,\"beta\":false,\"email\":\"nick.dowmon@lifeomic.com\",\"federated\":false,\"id\":\"fdc6ef12-ed55-44b7-83a9-09b1a9c35ea8\",\"identity_provider\":null,\"last_login\":\"2020-04-14T16:39:17Z\",\"name\":\"Nick Dowmon\",\"sms_number\":null,\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2020-04-13T21:08:36Z\",\"updated_at\":\"2020-04-21T15:06:45Z\",\"suspended_at\":null,\"default_organization\":null,\"default_team\":null,\"delinquent_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"8c7cfd75beb6aba27a0743c86405a8ac\""
            },
            {
              "name": "last-modified",
              "value": "Tue, 21 Apr 2020 15:06:45 GMT"
            },
            {
              "name": "oauth-scope",
              "value": "global"
            },
            {
              "name": "oauth-scope-accepted",
              "value": "global identity"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 195,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
