{
  "log": {
    "_recordingName": "add-teams",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c37f4ae46ad666cb68bcb6575fdd33a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/enterprise-accounts/01234567-89ab-cdef-0123-456789abcdef/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "[{\"enterprise_account\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"example\"},\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"permissions\":[{\"description\":\"View enterprise account members and teams.\",\"name\":\"view\"}],\"user\":{\"email\":\"username@example.com\",\"id\":\"01234567-89ab-cdef-0123-456789abcdef\"},\"two_factor_authentication\":true,\"identity_provider\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"acme\",\"redacted\":false,\"owner\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"acme\",\"type\":\"team\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      },
      {
        "_id": "9ed93a936b65cf516f0cef222ed3a245",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/enterprise-accounts/76543210-89ab-cdef-0123-456789abcdef/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
