{
  "log": {
    "_recordingName": "heroku-get-throw",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "517e539e78ab8fa4ac6f950177a63c3c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"id\":\"unauthorized\",\"message\":\"Invalid credentials provided.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
