{
  "log": {
    "_recordingName": "map-team-to-member",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "4f4d03960d26782bc49d5ed46588b775",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/teams/1e2fd576-c276-483d-8440-3c956e0fe015/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 628,
            "text": "[{\"id\":\"3054dc38-6cd7-41d2-b5d6-7b69b966d7a8\",\"created_at\":\"2020-04-21T15:04:14Z\",\"email\":\"ndowmon@gmail.com\",\"federated\":false,\"identity_provider\":null,\"role\":\"member\",\"updated_at\":\"2020-04-21T15:04:14Z\",\"user\":{\"id\":\"2372b250-7a66-49db-88f6-14052ae638cc\",\"email\":\"ndowmon@gmail.com\",\"name\":\"Nick Dowmon\"}},{\"id\":\"8ec7b3ff-3043-4242-804b-33b4079023e0\",\"created_at\":\"2020-04-15T23:14:12Z\",\"email\":\"nick.dowmon@lifeomic.com\",\"federated\":false,\"identity_provider\":null,\"role\":\"admin\",\"updated_at\":\"2020-04-15T23:14:12Z\",\"user\":{\"id\":\"fdc6ef12-ed55-44b7-83a9-09b1a9c35ea8\",\"email\":\"nick.dowmon@lifeomic.com\",\"name\":\"Nick Dowmon\"}}]"
          },
          "headers": [
            {
              "name": "content-range",
              "value": "id 3054dc38-6cd7-41d2-b5d6-7b69b966d7a8..8ec7b3ff-3043-4242-804b-33b4079023e0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"f681778e47145236075dac701694dcdd\""
            },
            {
              "name": "last-modified",
              "value": "Tue, 21 Apr 2020 15:06:45 GMT"
            },
            {
              "name": "oauth-scope",
              "value": "global"
            },
            {
              "name": "oauth-scope-accepted",
              "value": "global"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 215,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
