{
  "log": {
    "_recordingName": "account-member-add",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c37f4ae46ad666cb68bcb6575fdd33a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/enterprise-accounts/01234567-89ab-cdef-0123-456789abcdef/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "[{\"enterprise_account\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"example\"},\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"permissions\":[{\"description\":\"Viewenterpriseaccountmembersandteams.\",\"name\":\"view\"}],\"user\":{\"email\":\"username@example.com\",\"id\":\"01234567-89ab-cdef-0123-456789abcdef\"},\"two_factor_authentication\":true,\"identity_provider\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"acme\",\"redacted\":false,\"owner\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"acme\",\"type\":\"team\"}}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      },
      {
        "_id": "fdd227b7068bff4feb646a353a7c1500",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/users/01234567-89ab-cdef-0123-456789abcdef"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 73,
            "text": "{\"resource\":\"user\",\"id\":\"not_found\",\"message\":\"Couldn't find that user.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 205,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
