{
  "log": {
    "_recordingName": "add-teams",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "d4223aa7bcb646a01eeee96a5eb2d2c5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/enterprise-accounts/01234567-89ab-cdef-0123-456789abcdef/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "[{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"created_at\":\"2012-01-01T12:00:00Z\",\"credit_card_collections\":true,\"default\":true,\"enterprise_account\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"name\":\"example\"},\"identity_provider\":{\"id\":\"01234567-89ab-cdef-0123-456789abcdef\",\"slug\":\"acme-sso\"},\"membership_limit\":25,\"name\":\"example\",\"provisioned_licenses\":true,\"role\":\"admin\",\"type\":\"team\",\"updated_at\":\"2012-01-01T12:00:00Z\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200,
      },
      {
        "_id": "3df8f70f4e00005655dfe42eb7b99ca8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/enterprise-accounts/76543210-89ab-cdef-0123-456789abcdef/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ratelimit-multiplier",
              "value": "1"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4499"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 466,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
