{
  "log": {
    "_recordingName": "fetch-app-addons",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "8ab67463f804078cb00c74caeaf8cf63",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "range",
              "value": "id ..; max=1000"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.heroku.com/apps/e3af0e11-ea32-475e-a36f-e20f48e83136/addons"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2524,
            "text": "[{\"actions\":[{\"id\":\"53a683dd-3da3-47f0-adbe-db7977ac0a07\",\"label\":\"All Events\",\"action\":\"events\",\"url\":null,\"requires_owner\":null},{\"id\":\"2397c8f0-369c-472f-97f0-7dfc052c4a3a\",\"label\":\"Dashboard\",\"action\":\"dashboard\",\"url\":null,\"requires_owner\":null},{\"id\":\"23c422f0-0999-45fd-a041-0d88de65b43e\",\"label\":\"Settings\",\"action\":\"settings\",\"url\":null,\"requires_owner\":null}],\"app\":{\"id\":\"e3af0e11-ea32-475e-a36f-e20f48e83136\",\"name\":\"damp-falls-40058\"},\"config_vars\":[\"PAPERTRAIL_API_TOKEN\"],\"created_at\":\"2020-04-14T13:58:00Z\",\"id\":\"2bb23a70-3da0-4a76-aa8e-31219fcc2b22\",\"name\":\"papertrail-solid-67022\",\"addon_service\":{\"id\":\"f6f28cb5-78ad-4ec7-896d-16462b8202fd\",\"name\":\"papertrail\"},\"plan\":{\"id\":\"75e5e5d9-e71c-4693-818f-db1de34d761b\",\"name\":\"papertrail:choklad\"},\"billing_entity\":{\"id\":\"e3af0e11-ea32-475e-a36f-e20f48e83136\",\"name\":\"damp-falls-40058\",\"type\":\"app\"},\"provider_id\":\"5406143472\",\"state\":\"provisioned\",\"updated_at\":\"2020-04-14T13:58:03Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/e3af0e11-ea32-475e-a36f-e20f48e83136/addons/2bb23a70-3da0-4a76-aa8e-31219fcc2b22\",\"billed_price\":{\"cents\":0,\"contract\":false,\"unit\":\"month\"}},{\"actions\":[{\"id\":\"d1af3379-32c7-44bd-a4b1-ccadf026102f\",\"label\":\"Create Dataclip\",\"action\":null,\"url\":\"http://dataclips.heroku.com/clips/new?heroku_resource_id=:resource_id&heroku_id=:resource_uuid\",\"requires_owner\":null},{\"id\":\"dc443dae-a897-4397-a824-27b8863fa1ba\",\"label\":\"Upgrade instructions\",\"action\":null,\"url\":\"https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases\",\"requires_owner\":null},{\"id\":\"0edce16f-590b-4bd7-8745-8b[...]
